* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "微软雅黑", sans-serif;
  background: #f5f5f5;
}
.container {
  width: 800px;
  height: 600px;
  margin: 30px auto;
  border: 1px solid #ccc;
  position: relative;
  background: #fff;
}
.center-logo {
  position: relative;
  z-index: 10;
  text-align: center;
  padding-top: 180px;
}
.center-logo img {
  width: 240px;
  height: 40;
  border-radius: 50%;

}
.box {
  width: 240px;
  padding: 15px;
  background: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 8px;
  position: absolute;
  z-index: 5;
}
.box h4 {
  margin-bottom: 10px;
  color: #333;
}
.html-box ul, .js-box ul {
  list-style-type: disc;
  padding-left: 20px;
}
.css-box ul {
  list-style-type: circle;
  padding-left: 20px;
}
.box ul li {
  font-size: 14px;
  line-height: 1.8;
  color: #666;
}
.html-box {
  top: 80px;
  left: 80px;
}
.css-box {
  bottom: 70px;
  left: 120px;
}
.js-box {
  bottom: 40px;
  right: 60px;
}